.nav {
  color: white;
  background-color: #1ee93f;
  padding: 10px 10px;
}

.he {
  font-size: 35px;
  margin: 5px 22px;
  font-family: "Marhey", cursive;
  /* font-family: "Shadows Into Light", cursive; */
}
